<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.com.moyu.mapper.UserMapper">
    <select id="findAll" resultType="user">
        select * from user
    </select>
    <select id="getUserById" parameterType="int" resultType="user">
        select * from user where id=#{id}
    </select>
    <update id="upDateUser" parameterType="user">
        update user set username=#{username} where id=#{id}
    </update>
    <insert id="saveUser" parameterType="user">
        insert into user(username,db_source) values (#{username},DATABASE())
    </insert>

</mapper>